<!-- Carrusel imgenes -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="../../../assets/imagenes/raiz/2.jpg">
        </div>
        <div class="item">
        <img src="../../../assets/imagenes/raiz/3.jpg">
        </div>
        <div class="item">
        <img src="../../../assets/imagenes/raiz/4.jpg">
        </div>
        <div class="item">
        <img src="../../../assets/imagenes/raiz/5.jpg">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
    <div class="hidden-xs" style="position:absolute; top:20%; left:20%">
        <div class="col-md-12 text-center" style="background-color:rgba(0, 0, 0, 0.6); color:white">
        <h1>
            <strong>Contacta con los mejores manitas</strong>
        </h1>
        <h3>Profesionales de confianza para los trabajos de casa</h3>
        <br>
        <div style="margin-bottom:20px">
            <a class="btn btn-lg btn-warning">
            <strong>Pide Presupuesto Gratis</strong>
            </a>
        </div>
        </div>
    </div>
</div>
      
<!-- Textos -->
<div class="container" style="margin-bottom:30px; margin-top:30px;">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <h2>Conoce a lo profesionales que realizarán tu trabajo</h2>
            <p>Después de que nos digas que es lo que necesitas, te presentaremos con distintos profesionales que puedan llevar a cabo tu proyecto.</p>
        </div>
        <div class="col-md-4 col-xs-6">
            <h2>Compara profesionales</h2><br>
            <p>Los perfiles de los profesionales que te llegan incluyen:</p>
            <div>
                <ul>
                <li>Oferta personalizada</li>
                <li>Opiniones de otros clientes</li>
                <li>Información de contacto</li>
                <li>Mensaje personalizado</li>
                <li>Perfil de su negocio</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <h2>Contrata al profesional correcto</h2>
            <p>Elige al profesional que más se adecua a tu presupuesto y necesidades.</p>
        </div>
    </div>
</div>
    
<!-- Segunda imagen -->
<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img src="../../../assets/imagenes/raiz/1.jpg">
        </div>
    </div>
    <div class="hidden-xs" style="position:absolute; top:20%; right:10%">
        <div class="col-md-12 text-center" style="background-color:rgba(0, 0, 0, 0.6); color:white">
            <h1><strong>Conoce al mejor profesional en tu barrio</strong></h1>
            <h3>Nosotros nos encargamos de revisar sus antecedentes profesionales,</h3>
            <h3>así que quédate tranquilo.</h3>
            <br>
        </div>
    </div>
</div>
    
<!-- Testimonios -->
<div class="container" style="margin-bottom:30px; margin-top:30px;">
    <div class="col-md-12 well">
        <h2>Millones de usuarios han confiado en TuManitas para realizar sus proyectos</h2>
    </div>
    <div class="col-md-4 col-xs-6 well">
        <img class="img-responsive center-block" src="../../../assets/imagenes/raiz/Testi1.jpg" /><br>
        <p class="top-buffer text-center"><em>A las pocas horas de publicar el trabajo ya tenía 4 presupuestos para comparar.</em></p><br>
        <div class="foto text-center"><img src="../../../assets/imagenes/raiz/cli1.jpg" alt="Foto" /></div><br>
        <div class="col-md-12 top-buffer">
            <div class="text-center">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-6 well">
        <img class="img-responsive center-block" src="../../../assets/imagenes/raiz/Testi2.jpg" /><br>
        <p class="top-buffer text-center"><em>Todos los profesionales estan valorados por sus trabajos anteriores. Todo un acierto!</em></p><br>
        <div class="foto text-center"><img src="../../../assets/imagenes/raiz/cli2.jpg" alt="Foto" /></div><br>
        <div class="col-md-12 top-buffer">
            <div class="text-center">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-6 well">
        <img class="img-responsive center-block" src="../../../assets/imagenes/raiz/Testi3.jpg" /><br>
        <p class="top-buffer text-center"><em>Los profesionales contactan conmigo por teléfono. Todo muy rápido y simple.</em></p><br>
        <div class="foto text-center"><img src="../../../assets/imagenes/raiz/cli3.jpg" alt="Foto" /></div><br>
        <div class="col-md-12 top-buffer">
            <div class="text-center">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-6 well">
        <img class="img-responsive center-block" src="../../../assets/imagenes/raiz/Testi4.jpg" /><br>
        <p class="top-buffer text-center"><em>Si un profesional está en TuManitas, es garantía de que es buen trabajador.</em></p><br>
        <div class="foto text-center"><img src="../../../assets/imagenes/raiz/cli4.jpg" alt="Foto" /></div><br>
        <div class="col-md-12 top-buffer">
        <div class="text-center">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-6 well">
        <img class="img-responsive center-block" src="../../../assets/imagenes/raiz/Testi5.jpg" /><br>
        <p class="top-buffer text-center"><em>Ha sido una muy buena experiencia, sin problemas, para repetir.</em></p><br>
        <div class="foto text-center"><img src="../../../assets/imagenes/raiz/cli5.jpg" alt="Foto" /></div><br>
        <div class="col-md-12 top-buffer">
            <div class="text-center">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-6 well">
        <img class="img-responsive center-block" src="../../../assets/imagenes/raiz/Testi6.jpg" /><br>
        <p class="top-buffer text-center"><em>Los presupuestos tienen muy buena relación calidad precio.</em></p><br>
        <div class="foto text-center"><img src="../../../assets/imagenes/raiz/cli6.jpg" alt="Foto" /></div><br>
        <div class="col-md-12 top-buffer">
            <div class="text-center">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
</div>
    
<!-- Prensa -->
<div class="container well">
    <div class="col-md-12">
        <h2>¿Qué dicen de nosotros?</h2>
    </div>
    <ul class="list-inline col-md-11" style="text-align: center">
        <br>
        <li>
        <a class="navbar-brand" href="https://youtu.be/32BgG50Nzdk" target="_blank" title="Televisión Española afirma que TuManitas logra que los profesionales tengan trabajo">
            <img src="../../../assets/imagenes/raiz/TVE.png" width="60px" height="35px">
        </a>
        </li>
        <li>
        <a class="navbar-brand" href="https://youtu.be/NbKGQU4uGHA" target="_blank" title="Telecinco recomienda TuManitas como el mejor comparador de presupuestos de reforma online">
            <img src="../../../assets/imagenes/raiz/Telecinco.png" width="50px" height="50px">
        </a>
        </li>
        <li>
        <a class="navbar-brand" href="../../../assets/imagenes/raiz/elpaisnoticia.png" target="_blank" title="El País habla de TuManitas como la solución anti-crisis para los obreros de España">
            <img src="../../../assets/imagenes/raiz/elpais.png" width="80px" height="35px">
        </a>
        </li>
        <li>
        <a class="navbar-brand" href="../../../assets/imagenes/raiz/lavanguardiaescrita.png" target="_blank" title="La Vanguardia publica que TuManitas recibe más de cien clientes al día">
            <img src="../../../assets/imagenes/raiz/vanguardia.png" width="120px" height="50px">
        </a>
        </li>
        <li>
        <a class="navbar-brand" href="https://youtu.be/bYsFIhGDBTk" target="_blank" title="CanalSur: Los profesionales salvan su negocio gracias a TuManitas">
            <img src="../../../assets/imagenes/raiz/canalsur.png" width="50px" height="50px">
        </a>
        </li>
        <li>
        <a class="navbar-brand" href="https://youtu.be/oL1ykWDTEMs" target="_blank" title="TuManitas.com es creatividad e ingenio">
            <img src="../../../assets/imagenes/raiz/rne.png" width="80px" height="50px">
        </a>
        </li>
        <li>
        <a class="navbar-brand" href="https://youtu.be/2usjhVRsVTY" target="_blank" title="La Cadena SER proclama a TuManitas como una idea estupenda que elimina intermediarios">
            <img src="../../../assets/imagenes/raiz/ser.png" width="80px" height="50px">
        </a>
        </li>                
        <li>
        <a class="navbar-brand" href="https://youtu.be/UvNXRZ7K9n4" target="_blank" title="Onda Cero anuncia que TuManitas es una idea pionera en nuestro país">
            <img src="../../../assets/imagenes/raiz/ondacero.jpg" width="50px" height="40px">
        </a>
        </li>                
    </ul>
</div>
