<div class="cabecera">
        <div class="container">
            <div class="col-md-12 col-xs-12">
                <h2>Contratar Pase Gratis</h2>
            </div>
        </div>
    </div>
        
    <div class="container">
        <div class="col-md-8 col-xs-2 well">
            <form [formGroup]="miformulario" (ngSubmit)="guardarEmpresa()">
                <table>
                    <tr>
                        <td class="col-md-4">
                            <div class="form-group">
                                <label for="txtNombre">Nombre Comercial:</label>
                                <input type="text" class="form-control" id="txtNombre" formControlName="nombre">
                                <div *ngIf="miformulario.controls['nombre'].errors?.required && miformulario.controls['nombre'].touched" class="text-danger">
                                    <small>Campo obligatorio. Rellena el nombre.</small>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4">
                            <div class="form-group">
                                <label for="txtcif">CIF:</label>
                                <input type="text" class="form-control" id="txtcif" formControlName="cif">
                                <div *ngIf="miformulario.controls['cif'].errors?.required && miformulario.controls['cif'].touched" class="text-danger">
                                    <small>Campo obligatorio. Rellena el CIF.</small>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="form-group">
                                <label for="txtEmail">Correo electronico:</label>
                                <input type="email" class="form-control" id="txtEmail" formControlName="email">
                                <div *ngIf="miformulario.controls['email'].errors?.required && miformulario.controls['email'].touched" class="text-danger">
                                    <small>Campo obligatorio. Introduce un email.</small>
                                </div>
                                <div *ngIf="miformulario.controls['email'].errors?.pattern" class="text-danger">
                                    <small>Debe tener formato: default@email.org.</small>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4">
                            <div class="form-group">
                                <label for="txtPwd">Password:</label>
                                <input type="password" class="form-control" id="txtPwd" formControlName="password">
                                <div *ngIf="miformulario.controls['password'].errors?.required && miformulario.controls['password'].touched" class="text-danger">
                                    <small>Campo obligatorio. Introduce una contraseña.</small>
                                </div>
                                <div *ngIf="miformulario.controls['password'].errors?.pattern" class="text-danger">
                                    <small>Entre 6 y 15 letras o numeros. No caracteres alfanumericos.</small>
                                </div>
                            </div>            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="col-md-8">
                            <div class="form-group">
                                <label for="txtDirec">Direccion:</label>
                                <input type="text" class="form-control" id="txtDirec" formControlName="direccion">
                                <div *ngIf="miformulario.controls['direccion'].errors?.required && miformulario.controls['direccion'].touched" class="text-danger">
                                    <small>Campo obligatorio. Rellena la direccion.</small>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="form-group">
                                <label for="txtTlfno">Telefono:</label>
                                <input type="text" class="form-control" id="txtTlfno" formControlName="tlfno">
                                <div *ngIf="miformulario.controls['tlfno'].errors?.required && miformulario.controls['tlfno'].touched" class="text-danger">
                                    <small>Campo obligatorio. Rellena el telefono.</small>
                                </div>
                                <div *ngIf="miformulario.controls['tlfno'].errors?.pattern" class="text-danger">
                                    <small>Introduce el telefono sin código pais. (9 digitos).</small>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4">
                            <div class="form-group">
                                <label for="txtCP">Codigo Postal:</label>
                                <input type="text" class="form-control" id="txtCP" formControlName="cp">
                                <div *ngIf="miformulario.controls['cp'].errors?.required && miformulario.controls['cp'].touched" class="text-danger">
                                    <small>Campo obligatorio. Rellena el Codigo Postal.</small>
                                </div>
                                <div *ngIf="miformulario.controls['cp'].errors?.pattern" class="text-danger">
                                    <small>El código postal consta de 5 digitos.</small>
                                </div>
                            </div>            
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="form-group">
                                <label for="txtProv">Provincia:</label>
                                <input type="text" class="form-control" id="txtProv" formControlName="provincia">
                                <div *ngIf="miformulario.controls['provincia'].errors?.required && miformulario.controls['provincia'].touched" class="text-danger">
                                    <small>Campo obligatorio. Rellena la provincia.</small>
                                </div>
                            </div>
                        </td>
                        <td class="col-md-4">
                            <div class="form-group">
                                <label for="txtLoc">Localidad:</label>
                                <input type="text" class="form-control" id="txtLoc" formControlName="localidad">
                                <div *ngIf="miformulario.controls['localidad'].errors?.required && miformulario.controls['localidad'].touched" class="text-danger">
                                    <small>Campo obligatorio. Rellena la localidad.</small>
                                </div>
                            </div>            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="col-md-8">
                            <div class="form-group">
                                <label for="txtDirec">Sector de la empresa:</label>
                                <select class="form-control" formControlName="tipo">
                                    <option *ngFor="let tipo of tiposReforma" [value]="tipo">{{tipo}}</option>
                                </select>
                                <div *ngIf="miformulario.controls['tipo'].errors?.required && miformulario.controls['tipo'].touched" class="text-danger">
                                    <small>Campo obligatorio. Selecciona el tipo de reforma.</small>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                </table>
            <div class="col-md-12 text-center"> 
                <button class="btn btn-primary" [disabled]="!miformulario.valid">Registrarse</button> 
            </div>
            </form>
        </div>
    
        <div  class="col-md-3 col-xs-2 col-md-offset-1 well">
            <table>
                <tr>
                    <td colspan="2"><h4><strong>Tu elección</strong></h4></td>
                </tr><br>
                <tr>
                    <div>
                        <ul>
                            <li>Inclusión en el directorio de manitas</li>
                            <li>Página con tu ficha de profesional</li>
                            <li>Soporte por email y teléfono</li>
                        </ul><br>
                        <h4><b>!Gratis¡</b></h4><br>
                        <p>Con <b>TuManitas</b>, estás en buenas mamos</p>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    